<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" th:href="@{/dist/img/OMSLOGO.png}"/>
<title sec:authentication="principal.ermTitle"></title>

<link rel="stylesheet"
	th:href="@{/plugins/fontawesome-free/css/all.min.css}">
<!-- overlayScrollbars -->
<link rel="stylesheet"
	th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
<!-- Select2 -->
<link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
<!-- Toastr -->
<link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
<!-- DataTables -->
<link rel="stylesheet"
	th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
<link rel="stylesheet"
	th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
<link rel="stylesheet"
	th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">

<style>
#load {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../aml-v4/dist/img/loader.gif) center no-repeat #fff;
	opacity: 1;
}

.card-info:not(.card-outline)>.card-header {
	background-color: #044383 !important;
}

.bg-info {
	background-color: #044383 !important;
}

.btn-info {
	color: #fff;
	background-color: #044383 !important;
	border-color: #044383 !important;
	box-shadow: none;
}

.outlineCss {
	border-top: 3px solid #17a2b8;
	border-left: 1px solid #17a2b8;
	border-right: 1px solid #17a2b8;
	border-bottom: 1px solid #17a2b8;
}

.alert-info1 {
	color: #084298;
	background-color: #cfe2ff;
	border-color: #cfe2ff;
}




#loader2 {
	position: fixed;
	left: 700px;
	top: 220px;
	width: 10%;
	height: 10%;
	z-index: 9999;
	background: url(../aml-v4/dist/img/loader.gif) center no-repeat #fff;
	opacity: 1;
}

.thHead {
	background-color: #4fa9a7 !important;
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
}

</style>
</head>
<div id="load"></div>
<body
	class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
	<div sec:authorize="isAuthenticated()">

		<div class="wrapper">

			<!-- Included header.html -->
			<div th:insert="/header::header"></div>
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<!-- <div class="row mb-2">
							<div class="col-sm-6">

								<h1 class="m-0">Alert Summary</h1>
							</div>
							/.col
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
									<li class="breadcrumb-item active"><a href="#">Alert
											Summary</a></li>
								</ol>
							</div>
							/.col
						</div> -->
						<!-- /.row -->
						<!-- Main content -->
						<section class="content">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-12">
										<form class="form-horizontal" id="homeForm"
											th:action="@{/homeAction}" method="post">
											<input type="hidden" id="encryptedJson" name="encryptedJson"
												th:feild="*{encryptedJson}" /> <input type="hidden"
												th:value="*{message}" id="message" /> <input type="hidden"
												th:value="${ruleDetails.searchParam}" id="searchParam" />
											<!-- TO DO List -->
											<div class="card card-tabs card-secondary card-outline">
												<div class="card-header text-sm p-2 border-bottom-0">
													<ul class="nav nav-tabs">
														<li class="nav-item"><a
															class="nav-link card-title text-bold active  task-notification"
															href="#activity" id="summarylink" data-toggle="tab">
																<em class="fa fa-tasks mr-1 mt-2"></em>Alert Summary
														</a></li>
													</ul>
												</div>
												<!-- /.card-header -->
												<div class="card-body table-responsive">
													<!-- /. Analysis -->
													<div class="tab-content" id="task-tab">
														<div class="active tab-pane">
															<table id="alertRuleDetails"
																class="table table-head-fixed table-bordered table-striped"
																th:if="${ruleDetails.searchParam != 'custId'}">
																<thead>
																	<tr>
																		<th class="thHead">Alert Exception</th>
																		<th class="thHead">Alert Exception
																			Description</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td><a th:id="${ruleDetails.ruleId}" href="#"
																			th:text="${ruleDetails.ruleId}"
																			class="text-blue ruleModalView"></a></td>
																		<td th:text="${ruleDetails.ruleDesc}"></td>

																	</tr>
																</tbody>
															</table>

															<table id="taskNotification"
																class="table table-head-fixed table-bordered table-striped ">
																<caption></caption>
																<thead>
																	<tr>
																		<th class="thHead text-bold " scope="col"
																			th:if="${#strings.contains(user.userPosition, 'Checker')}"><input
																			class="form-input" type="checkbox" id="ckbCheckAll"
																			value="checkAll"></th>
																		
																		<th class="thHead text-bold " th:if="${ruleDetails.alertCat== 'C'}" scope="col">Customer Id</th>
																		<th class="thHead text-bold " scope="col">Account No</th>

																		<th class="thHead text-bold " scope="col">Account Name</th>

																		<th class="thHead text-bold " scope="col">Generated
																			Date</th>

																		<th class="thHead text-bold" scope="col">Re-Occurrence</th>
																		<th class="thHead text-bold " scope="col" th:if="${#strings.contains(user.userPosition, 'Checker')}">CommentBy</th>
																		<th class="thHead text-bold " scope="col" th:if="${#strings.contains(user.userPosition, 'Checker')}">Comment Date</th>
																		<th class="thHead text-bold " scope="col" th:if="${#strings.contains(user.userPosition, 'Checker')}">Comment</th>

																		<th class="thHead " scope="col">Action</th>

																	</tr>
																</thead>
																<tbody class="taskNotificationBody">
																	<tr th:each="alertObj : ${alertList}">

																		<td
																			th:if="${#strings.contains(user.userPosition, 'Checker') }"><input
																			class="form-input checkAllBox" type="checkbox"
																			name="checkAllBox2" th:id="${alertObj.alertId}"
																			th:value="${alertObj.alertId}"></td>

																		<td th:if="${ruleDetails.alertCat== 'C'}"><a th:if="${alertObj.custId != null}"
																			 data-toggle="modal" 
																			th:id="${alertObj.custId}+'~CUSTNO'"
																			th:text="${alertObj.custId}"> </a> <a
																			th:unless="${alertObj.custId != null}"
																			class="text-blue " data-toggle="modal" href="#"
																			th:text="'-'"> </a></td>

																		<td th:if="${alertObj.accountNo != null}"><a
																			 data-toggle="modal"
																			th:id="${alertObj.accountNo}+'~ACNO'"
																			th:text="${alertObj.accountNo}"> </a></td>

																		<td class="text-capitalize"
																			th:text="${alertObj.custName}"></td>

																		<td th:text="${alertObj.generatedTime}"></td>

																		<td class="text-capitalize"
																			th:text="${alertObj.recurrenceCnt}"></td>
																		<td class="text-capitalize" th:if="${#strings.contains(user.userPosition, 'Checker')}"
																			th:text="${alertObj.commentedBy}"></td>

																		<td class="text-capitalize" th:if="${#strings.contains(user.userPosition, 'Checker')}"
																			th:text="${alertObj.commentedDate}"></td>

																		<td class="text-capitalize" th:if="${#strings.contains(user.userPosition, 'Checker')}"
																			th:text="${alertObj.comment}"></td>
																			
																		<td class="project-actions text-center"><span><a
																				href="#"
																				th:id="${alertObj.alertId}+'~'+'TRANSACTION MONITORING'+'~'+'AI'+'~'+ ${alertObj.ruleId}+'~'+${alertObj.alertStatus}"
																				class="btn-sm tasknotification" th:style="'background-color:'+${alertObj.btnColor}"><em
																					class="fas fa-arrow-circle-right text-white	"></em></a></span></td>
																	</tr>
																</tbody>
															</table>

															<div class=" card-footer mt-3">
																<a class="btn btn-secondary" th:href="@{/home}"> <i
																	class="fas fa-arrow-circle-left"
																	style="padding: 0 7px 0 0px;"></i> Back
																</a>

																<button
																	th:if="${#strings.contains(user.userPosition, 'Checker') and user.verticalFlg != 'otherVertical'}"
																	type="button" id="closeAlert" name="close"
																	class="btn btn-success"
																	title="Click To Close Multiple Alerts">
																	<em class="fas fa-vote-yea"
																		style="padding: 0 7px 0 0px;"></em>Accept
																</button>
																
																<button 
																	th:if="${#strings.contains(user.userPosition, 'Checker') and user.verticalFlg != 'otherVertical'}"
																	type="button" id="rejectAlert" name="reject"
																	class="btn btn-danger"
																	title="Click To Reject Multiple Alerts">
																	<em class="fas fa-circle-notch"
																		style="padding: 0 7px 0 0px;"></em>Reject
																</button>
															</div>


															<!-- /.card-footer -->

														</div>
													</div>
												</div>
											</div>

										</form>
										<form autocomplete="off" role="form" method="post"
											th:action="@{/saveComplianceReq}" id="frmBulkCompliance"
											th:object="${encryptedRequest}">
											<input type="hidden" id="encryptedJsonSave"
												name="encryptedJson" />

										</form>
									</div>
								</div>

							</div>
							<input type="hidden" id="modelId">
							<div class="modal fade" id="viewModalAccount">
								<div class="modal-dialog modal-xl">
									<div class="modal-content">
										<div class="modal-header text-white"
											style="background-color: #563d7c;">
											<div id="cust">
												<h5 class="modal-title">
													Customer ID - <span id="custId"></span>
												</h5>
											</div>
											<div id="Accounts">
												<h5 class="modal-title">
													Customer Account No - <span id="custAcNo"></span>
												</h5>
											</div>
											<button type="button" class="close text-white"
												data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<!-- form start -->
										<form class="form-horizontal">
											<div class="card-body">
												<div id="custModel">
													<div class="row">
														<div class="col-sm-4">
															<div class="form-group">
																<label for="CustName">Customer Name</label> <input
																	type="text"
																	class="form-control form-control-sm text-bold text-capitalize"
																	id="CustName" name="CustName"
																	placeholder="Customer Name" readonly>
															</div>
														</div>

														<div class="col-sm-4">
															<div class="form-group">
																<label for="custType">Customer Type</label> <input
																	type="text"
																	class="form-control form-control-sm text-bold"
																	id="custType" name="custType"
																	placeholder="Customer Type" readonly>
															</div>
														</div>

														<div class="col-sm-4">
															<div class="form-group">
																<label for="custStatus">Customer Open Date</label> <input
																	type="text"
																	class="form-control form-control-sm text-bold text-capitalize"
																	id="custStatus" name="custStatus"
																	placeholder="Customer Status" readonly>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-4">
															<div class="form-group">
																<label for="custGender">Customer Gender</label> <input
																	type="text"
																	class="form-control form-control-sm text-bold"
																	id="custGender" name="custGender"
																	placeholder="Customer Gender" readonly>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="form-group">
																<label for="Frequency">Customer Occupation</label> <input
																	type="text"
																	class="form-control form-control-sm text-bold text-capitalize"
																	id="custOccupation" name="custOccupation"
																	placeholder="Customer Occupation" readonly>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="form-group">
																<label for="custConst">Customer Constitution</label> <input
																	type="text"
																	class="form-control form-control-sm text-bold"
																	id="custConst" name="custConst"
																	placeholder="Customer Constitution" readonly>
															</div>
														</div>

													</div>

													<div class="row">
														<div class="col-sm-4">
															<div class="form-group">
																<label for="custPanNo">Customer Pan No</label> <input
																	type="text"
																	class="form-control form-control-sm text-bold"
																	id="custPanNo" name="custPanNo"
																	placeholder="Customer PanNo" readonly>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="form-group">
																<label for="custNat">Customer National Id Card
																	No</label> <input type="text"
																	class="form-control form-control-sm text-bold text-capitalize"
																	id="custNat" name="custNat"
																	placeholder="Customer National Id" readonly>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="form-group">
																<label for="custPassport">Customer Passport No</label> <input
																	type="text"
																	class="form-control form-control-sm text-bold"
																	id="custPassport" name="custPassport"
																	placeholder="Customer Passport No" readonly>
															</div>
														</div>

													</div>

													<div class="row">
														<div class="col-sm-12">
															<div class="card card-outline card-info">
																<div class="card-header text-sm">
																	<b>Customer Address Details</b>
																</div>
																<div class="card-body">

																	<div class="row">
																		<div class="col-sm-12">
																			<div class="form-group">
																				<label for="mailingAddress">Mailing Address</label>
																				<div class="input-group">
																					<textarea class="form-control"
																						name="mailingAddress"
																						placeholder="Mailing Address" id="mailingAddress"
																						rows="2" readonly></textarea>
																				</div>
																			</div>
																		</div>

																	</div>

																</div>

															</div>
														</div>
													</div>

													<!-- <div class="row">
														<div class="col-sm-12">
															<div class="card card-outline card-info">
																<div class="card-header">
																	<b>Customer Contact Details</b>
																</div>
																<div class="card-body">

																	<div class="row">
																		<div class="col-sm-12">
																			<div class="form-group">
																				<label for="custEmail">Customer Email</label>
																				<div class="input-group">
																					<textarea class="form-control" name="custEmail"
																						placeholder="Customer Email" id="custEmail"
																						rows="2" readonly></textarea>
																				</div>
																			</div>
																		</div>
																		<div class="col-sm-12">
																			<div class="form-group">
																				<label for="custPhone">Customer Phone</label>
																				<div class="input-group">
																					<textarea class="form-control" name="custPhone"
																						placeholder="Customer Phone" id="custPhone"
																						rows="2" readonly></textarea>
																				</div>
																			</div>
																		</div>

																	</div>

																</div>

															</div>
														</div>
													</div> -->


												</div>

												<div id="accountModel"></div>
											</div>

											<div class="card-footer">
												<span class="float-left" aria-hidden="true">

													<button class="btn btn-secondary" data-dismiss="modal">
														<i class="fa fa-arrow-circle-left fa-1x">&nbsp;</i> Back
													</button>
												</span>
											</div>
											<!-- /.card-footer -->
										</form>
									</div>
								</div>
							</div>
							<div class="modal fade" id="ruleModalView">
								<div class="modal-dialog modal-xl">
									<div class="modal-content">
										<div class="modal-header text-white"
											style="background-color: #00836c;">
											<h3 class="modal-title">
												<span id="ruleId"></span>
											</h3>
											<button type="button" class="close text-white"
												data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<!-- form start -->
										<form class="form-horizontal">
											<div class="card-body">

												<div class="row">
													<div class="col-sm-4">
														<div class="form-group">
															<label for="ruleStatus">Status</label> <input type="text"
																class="form-control form-control-sm text-bold text-capitalize"
																id="ruleStatus" name="status" placeholder="status"
																readonly>
														</div>
													</div>

													<div class="col-sm-4">
														<div class="form-group">
															<label for="rulePriority">Risk Type</label> <input
																type="text"
																class="form-control form-control-sm text-bold"
																id="rulePriority" name="rulePriority"
																placeholder="rulePriority" readonly>
														</div>
													</div>

													<div class="col-sm-4">
														<div class="form-group">
															<label for="ruleType">Turn Around Time</label> <input
																type="text"
																class="form-control form-control-sm text-bold text-capitalize"
																id="ruleType" name="ruleType"
																placeholder="rule TurnAroundTime" readonly>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-4">
														<div class="form-group">
															<label for="Classification">Classification</label> <input
																type="text"
																class="form-control form-control-sm text-bold"
																id="Classification" name="status" placeholder="status"
																readonly>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="form-group">
															<label for="Frequency">Frequency</label> <input
																type="text"
																class="form-control form-control-sm text-bold text-capitalize"
																id="Frequency" name="status" placeholder="status"
																readonly>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="form-group">
															<label for="DataSource">Vertical Sub-type</label> <input
																type="text"
																class="form-control form-control-sm text-bold"
																id="DataSource" name="status" placeholder="status"
																readonly>
														</div>
													</div>

												</div>

												<div class="row">
													<div class="col-sm-12">
														<div class="form-group">
															<label for="query">Exception Description</label>
															<div class="input-group">
																<textarea class="form-control" name="query"
																	placeholder="Rule Description" id="Description"
																	rows="2" readonly></textarea>
															</div>
														</div>

													</div>
													<div class="col-sm-12">
														<div class="form-group">
															<label for="query">Audit Concerns</label>
															<div class="input-group">
																<textarea class="form-control" name="query"
																	id="auditConcens" rows="2" readonly></textarea>
															</div>
														</div>

													</div>
													<div class="col-sm-12">
														<div class="form-group">
															<label for="query">Suggested Actionable</label>
															<div class="input-group">
																<textarea class="form-control" name="query"
																	id="suggestedAction" rows="2" readonly></textarea>
															</div>
														</div>

													</div>
												</div>

											</div>

											<div class="card-footer">
												<span class="float-left" aria-hidden="true">

													<button class="btn btn-secondary" data-dismiss="modal">
														<em class="fa fa-arrow-circle-left fa-1x">&nbsp;</em> Back
													</button>
												</span>
											</div>
											<!-- /.card-footer -->
										</form>
									</div>
								</div>
							</div>
							<!-- /.modal -->

						</section>
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->
			</div>
			<!--/. container-fluid -->
			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->

			<!-- Included Footer -->
			<div th:insert="/footer::footer"></div>
		</div>
	</div>
	<!-- REQUIRED SCRIPTS -->
	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
	<!-- Bootstrap -->
	<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- jquery-validation -->
	<script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
	<script
		th:src="@{/plugins/jquery-validation/additional-methods.min.js}"></script>
	<!-- bs-custom-file-input -->
	<script
		th:src="@{/plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
	<!-- Toastr -->
	<script th:src="@{/plugins/toastr/toastr.min.js}"></script>
	<!-- overlayScrollbars -->
	<script
		th:src="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/dist/js/adminlte.js}"></script>
	<!-- DataTables  & Plugins -->
	<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>

	<script
		th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
	<script
		th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
	<script
		th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
	<script
		th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
	<script
		th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
	<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
	<script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
	<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
	<script th:src="@{/plugins/moment/moment.min.js}"></script>
	<!-- Crypto JS JavaScript -->
	<!-- Crypto JS JavaScript -->
	<script th:src="@{/dist/appjs/aes.js}"></script>
	<script th:src="@{/dist/appjs/pbkdf2.js}"></script>
	<script th:src="@{/dist/appjs/AESUtil.js}"></script>
	<script th:src="@{/dist/appjs/app.js}"></script>
	<script th:src="@{/dist/appjs/erm/header.js}"></script>
	<script th:src="@{/dist/appjs/erm/filedownload.js}"></script>

	<!-- Developer Added JS -->
	<script th:src="@{/dist/appjs/erm/alertSummary.js}"></script>
	<script th:src="@{/dist/appjs/erm/home.js}"></script>
	<script th:src="@{/dist/appjs/erm/viewmodal.js}"></script>
	<script th:src="@{/dist/appjs/erm/viewRuleModel.js}"></script>
	<script>
		$(document).ready(function() {
			var message = $('#message').val();
			if (message != "") {
				toastr.success(message);
			}

		});

		$("#ckbCheckAll").click(function() {
			$(".checkAllBox").prop('checked', $(this).prop('checked'));
		});
	</script>
</body>

</html>